Flask[async]
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
hypercorn
google-adk
google-cloud-aiplatform
google-generativeai
marshmallow
python-dotenv
litellm
pylibmc
llama-index
pymemcache
psycopg2-binary